.MainLayout {
    height: 100vh;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 10% 80% 10%;
    grid-template-columns: 15% 85%;
}

.MainLayout>h1,h2,h3,h4,h5,h6,p,a {
    font-family: Arial;
}

header, footer {
    grid-column: span 2;
}

header, aside, main, footer{
    border: solid 0.5px;
    border-radius: 5px;
    padding: 2px;
    margin: 2px;
}

main {
    overflow: auto;
    min-height: 0;
}