.Register{
    width: 70%;
    display: inline-block;
    justify-content: center;
    padding: 30px;
    align-items: start;
}

.Register >form>{
    direction: rtl;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 70%;
}
.Register >form>*{
    padding: 10px;
}
