.SupplierCard {
    width: 280px;
    height: 140px;
    display: inline-flex;
    margin: 4px;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

.SupplierCard>div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.SupplierCard img {
    width: 70px;
    height: 70px;
    border-radius: 180px;
    vertical-align: middle;
}

.supplierNameFont, .supplierAddressFont{
    font-family: Arial;
}

.supplierNameFont{
    font-weight: bold;
 font-size: 18px;
}

.supplierAddressFont{
    font-size: 14px;
}