.AddProduct {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: start;
    padding-top: 30px;
}

.AddProduct > form {
    direction: rtl;
    width: 70%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}