.OurProducts {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.ProductImages {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    margin: 0 auto;
    padding: 0;
}
.ProductImages >img {
    width: 150px;
    height: 150px;

}


































































































































