.EditProduct{
    width: 70%;
    display: inline-block;
    justify-content: center;
    padding: 30px;
}

.EditProduct >form>*{
    margin: 20px;
    width: 70%;
}

img {
    width: 240px;
    height: 360px;
    margin: 10px auto;
}