.EmployeeCard {
	border-radius: 8px;
    border:1px solid;
    padding: 6px;
    margin: 6px;
    height: 300px;
    width: 240px;
    display: inline-block;
}
.EmployeeCard:hover{
    cursor: pointer;
}

.EmployeeCard >img {
    width: 140px;
    height: 180px;
    margin: 10px auto;
}